@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    main{
        height: 100vh;
        width: 50vw;
        flex-direction: column;
        text-align: center;
        h1{
            font-size: 45px;
            margin-bottom: 5%;
            margin-top: 3%;
        }
        textarea{
            padding: 20%;
            border-radius: 20px;
            margin-bottom: 3%;
        }
        div{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            button, input{
                padding: 2%;
                border-radius: 20px;
                border: 1px solid black;
                margin-right: 7px;
                background-color: rgb(236, 234, 232);
                cursor: pointer;
            }
        }
        ul{
            margin-top: 5%;
            li{
                list-style: none;
                color: blueviolet;
            }
        }
    }
}