@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuenteTexto);
    font-weight: 300;
}
:root{
    --fuenteTitulo: "Press Start 2P", system-ui;
    --fuenteTexto: "Ubuntu", sans-serif;
}
body{
    background-image: url(./fondo.jpg);
    background-position: center center;
    background-size: cover;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    main{
        width: 80%;
        margin: auto;
        text-align: center;
        form{
            h1{
                font-family: var(--fuenteTitulo);
                font-weight: 400;
                font-size: 20px;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.9);
            backdrop-filter: blur(10px);
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            border: none;
            width: 40%;
            margin: auto;
            padding: 3%;
            label{
                width: 100%;
                margin: 5% 0 2% 0;
            }
            input[type=text]{
                width: 40%;
                margin: 3% 0 3% 0;
                border-radius: 20px;
                border: 1px solid rgb(201, 200, 200);
                padding: 2%;
            }
            input[type=button]{
                padding: 4% 2% 4% 2%;
                width: 20%;
                border-radius: 15px;
                border: none;
                background-color: #74ceff;
                cursor: pointer;
                margin-top: 4%;
            }
        }
        .estilo-tablero{
            background-color: rgba(111, 111, 111, 0.9);
            backdrop-filter: blur(10px);
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
            border-radius: 20px;
            display: grid;
            width: 80%;
            margin: auto;
            height: 500px;
            gap: 1px;
        }
        .estilo-celda{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
        }
    }
}
