@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuenteTexto);
    font-weight: 300;
}
:root{
    --fuenteTitulo: "Press Start 2P", system-ui;
    --fuenteTexto: "Ubuntu", sans-serif;
}
body{
    background-image: url(./img/fondo.jpg);
    background-position: center center;
    background-size: cover;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    main{
        width: 80%;
        margin: auto;
        text-align: center;
        form{
            h1{
                font-family: var(--fuenteTitulo);
                font-weight: 400;
                font-size: 20px;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.9);
            backdrop-filter: blur(10px);
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            border: none;
            width: 40%;
            margin: auto;
            padding: 3%;
            label{
                width: 100%;
                margin: 5% 0 2% 0;
            }
            input[type=text]{
                width: 40%;
                margin: 3% 0 3% 0;
                border-radius: 20px;
                border: 1px solid rgb(201, 200, 200);
                padding: 2%;
            }
            input[type=button]{
                padding: 4% 2% 4% 2%;
                width: 20%;
                border-radius: 15px;
                border: none;
                background-color: #74ceff;
                cursor: pointer;
                margin-top: 4%;
            }
        }
        .estilo-tablero{
            max-width: 700px;
            max-height: 700px;
            background-color: rgba(111, 111, 111, 0.9);
            backdrop-filter: blur(10px);
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
            display: grid;
            width: fit-content;
            margin: auto;
            gap: 0.5px;
        }
        .celda{
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            cursor: pointer;
        }
        .oculta{
            background-image: url(./img/bloque.jpg);
            background-size: cover;
            background-position: center center;
            text-indent: -9999px;
        }
        .revelada{
            background-image: none;
        }
        .bandera{
            background-image: url(./img/estrella.png);
        }
        .partida-acabada{
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            img{
                max-width: 100%;
                padding: 5%;
            }
        }
        .bandera{
            background-image: url(./img/bandera.jpg);
            background-size: cover;
            background-position: center center;
            text-indent: -9999px;
        }
        .estilo-temporizador{
            width: 50%;
            font-size: 25px;
            color: rgb(95, 192, 56);
            font-weight: 500;
            margin: auto;
            margin-top: 5%;
        }
        #cantidadBanderas{
            font-size: 30px;
            width: 50%;
            color: rgb(192, 117, 56);
            font-weight: 500;
            margin: auto;
            margin-bottom: 5%;
        }
    }
}
