*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.seleccionado{
    color: pink;
}
body{ 
    background-color: bisque;
    main{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            padding: 2%;
            border-radius: 25px;
        }
    }
}